
@model IEnumerable<Zinder.Models.ProfileModel>

@{
    ViewBag.Title = "Search Index";
}



@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        <h2>Search for users</h2>

        <hr />
        
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("First Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("firstname", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Last Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("lastname", null, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-success" name="submit" value="Search" />

        <hr />
    }
    <div class="container">
        <div class="list-group col-md-4">
            @foreach (var profile in Model)
            {
                <a href="/Search/UserProfile/@profile.ID"
                   class="list-group-item">
                    <img src="@profile.ImageUrl" alt="Avatar-Image" class="img-thumbnail" style="height:40px;width:auto;" />
                    - @profile.FirstName @profile.LastName
                </a>
            }
        </div>
    </div>
}
else
{
    <hr />

    <h4>You have to sign in before you can access the search page.</h4>
}