
@model Zinder.Models.ProfileViewModel

@{
    ViewBag.Title = "User Profile";
}



<hr />

<h2> @Model.FirstName @Model.LastName</h2>

<hr />

<h3>About @Model.FirstName</h3>

<br />

<h4>@Model.Description</h4>

<h5> @Model.ID</h5>

<br />

<button type="button" class="btn btn-info"
        onclick="location.href='@Url.Action("SendFriendRequest", "Friend", new { friendId = Model.ID })'">
    Send a friendrequest!
</button>

<p>
    @HttpContext.Current.Request.Url.Query
</p>
