
@model Zinder.Models.ProfileViewModel

@{
    ViewBag.Title = "User Profile";
}



@using Microsoft.AspNet.Identity

<hr />

<h2>@Model.FirstName @Model.LastName</h2>

<br />

<div class="container">
    <img src="@Model.ImageUrl" alt="Avatar-Image" class="img-thumbnail" style="height:170px;width:auto;" />
</div>

<hr />

<h3>About @Model.FirstName</h3>

<br />

<h4>@Model.Description</h4>

<br />

@if (Model.ID != User.Identity.GetUserId())
{
    <button type="button" class="btn btn-info"
            onclick="location.href='@Url.Action("SendFriendRequest", "Friend", new { friendId = Model.ID })'">
        Send a friendrequest!
    </button>
}